<div id="wrapper" class="">

    <div class="overlay" style="display: none;"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

        <ul class="nav sidebar-nav">

            <img src="/assets/images/ubibanner.png" height="60px" width="250px">
            <li>
   
            <li>
                <a href="" [routerLink]="['/datatables']"><i class="glyphicon glyphicon-ok"></i>Datatables</a>
            </li>
            <!-- <li>
                <a href="" [routerLink]="['/returned_applications']"><i class="fa fa-undo" aria-hidden="true"></i> Returned applications</a>
            </li>
            <li>
                <a href="" [routerLink]="['/rejected_applications']"><i class="glyphicon glyphicon-remove"></i> Rejected applications</a>
            </li> -->
           

        </ul>
    </nav>
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" (click)="toggleClick($event)"> 
            
         <span class=" hamb-top "></span>
         <span class="hamb-middle "></span>
         <span class="hamb-bottom "></span>
      </button>

    </div>

</div>