
<h3>Update or Delete Employee Data</h3>
<div class="total " *ngFor="let data of datatablesViewData">
    <div class="col-md-8 ">
        <div class="applicant-details">
            <div class="applicant-table">
                <table (keyup)="calculator($event)" (keyup)="matchingAccount($event)"
                    (keyup)="matchingBankcustId($event)">
                    <tr>
                        <td width="30%">ApplicationId </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.empid}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Name </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.empname}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Designation </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.designation}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Address </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.address}} </td>
                    </tr>
                    <tr>
                        <td width="30%">State </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.state}} </td>
                    </tr>
                    <tr>
                      <h3>  <th>Update Data</th> </h3>
                    </tr>
                    <tr>
                        <td width="30%">ApplicationId</td>
                    <td width="10%">:</td>
                    <td width="30%"><input type="text" placeholder="" id="loanAmount" maxlength="7"
                            onkeyup="this.value=this.value.replace(/[^\d]/,'')"></td>
                    </tr>
                    <tr>
                        <td width="30%">Name</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="text" placeholder="" id="RateOfIntrest" value="{{roi}}"></td>
                    </tr>
                    <tr>
                        <td width="30%">Designation</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="text" placeholder="" id="RateOfIntrest" value="{{roi}}"></td>
                    </tr>
                    <tr>
                        <td width="30%">Address</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="text" placeholder="" id="RateOfIntrest" value="{{roi}}"></td>
                    </tr>
                    <tr>
                        <td width="30%">State</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="text" placeholder="" id="RateOfIntrest" value="{{roi}}"></td>
                    </tr>

                    <div id="value">

                        <button type="button" class="btn btn-success" (click)="getclickedId($event)" id="Approved"
                            value="Approve">Update</button>
                            <button type="button" class="btn btn-danger" (click)="getclickedId($event)" id="Approved"
                            value="Approve">Delete</button>
                    </div>
                    <div class="modal fade" id="modalPopup" role="dialog">
                        <div class="modal-dailog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Do You Want To continue?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="modal_body_content">
                                        <img src={{imagesrc}} class=""
                                            onerror="this.onerror=null; this.src='assets/images/profile.png'">
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            ApplicationId:
                                        </div>
                                        <div class="right_content">
                                            {{data.empid}}
                                        </div>
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            Name:
                                        </div>
                                        <div class="right_content">
                                            {{data.empname}}
                                        </div>
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            Loan Amount:
                                        </div>
                                        <div class="right_content">
                                            Rs.{{data.designation}}
                                        </div>
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            No of Months:
                                        </div>
                                        <div class="right_content">
                                            {{bmNoOfMonths}}
                                        </div>
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            ROI:
                                        </div>
                                        <div class="right_content">
                                            {{roi}}%
                                        </div>
                                    </div>
                                    <div class="modal_body_content">
                                        <div class="left_content">
                                            EMI:
                                        </div>
                                        <div class="right_content">
                                            Rs.{{bmEmi}}
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal">
                                        close
                                    </button>
                                    <button class="btn btn-default bank_status" id="{{clickedTargetId}}"
                                        (click)="getAllData($event)">
                                        {{clickedTargetValue}}
                                    </button>
                                </div>
                            </div>
                        </div>